
<div class="jumbotron">
  <h1>Welcome to Lynchburg Rentals</h1>
  <p>Helping people find their American Dream -- one home at a time.</p>
  <p><%= link_to "Find Your American Dream", rentals_path(@rental), class: 'btn btn-danger' %></p>
</div>
