@import "bootstrap-sprockets";
@import "bootstrap";


body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    background-color: lemonchiffon;
    padding: 0 10px
}
h1,
h2,
h3,
h4 {
    line-height: 1.2
}

.flash-notice{
  text-align: center;
  color:red;
  margin-top: 60px;
}

.home-container{
margin:10px auto;
padding:10px;
overflow:hidden;
float:left;
display:flex;
background-color: black;
border-radius: 5px;
color: white;
justify-content: center;
width: 100%;
}

a {
  color: inherit;
}

.middlebutton{
  float: center;
  padding: 15px;
  text-align: center;
}

.inquiry-form {
  background-color: black;
  padding: 15px;
  border-radius: 5px;
  color: white;
  margin-bottom: 15px;
}


.field-inquiry{
  margin: 10px 0 10px 0;
  height: 80px;
}

.inquiry-left {
  margin-top: 4px;
  padding-bottom: 10px;
  width: 50%;
  float: left;
  text-align: right;
}

.inquiry-left-special {
  margin-top: -10px;
  padding-bottom: 10px;
  width: 50%;
  float: left;
  text-align: right;
}

.inquiry-right {
  padding-left: 15px;
  padding-bottom: 10px;
  width: 50%;
  float: right;
  color: black;
}

textarea{
  resize: none;
  color: black;
}
input[type=text]{
  color: black;
}


.home-left{
float:left;
width:35%;
}

.home-right{
float:left;
width:65%;
}

.home-image{
  text-align: center;
}

.roundedpicture {
  margin:10px auto;
  text-align: center;
  padding:10px;
  overflow:hidden;
  float: center;
  background-color: black;
  border-radius: 5px;
  color: white;
  position: relative;}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   color: lemonchiffon;
   background: rgba(216,3,3,.9);
   text-align: right;
}

.jumbotron {
    margin-top: 100px;
    margin-bottom: 20px;
    background-color: #89CFF0;
    color: white;
    text-align: center;
    text-shadow: black 0.3em 0.3em 0.3em;
    border-radius: 16px;
}

/* navbar */
.navbar-default {
    background: rgba(216,3,3,.9);
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background: rgba(216,3,3,.9);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background: rgba(216,3,3,.9);
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: rgba(216,3,3,.9);
}
.navbar-default .navbar-toggle .icon-bar {
    background: white;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: black;
    }
}
