@import "bootstrap-sprockets";
@import "bootstrap";

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    background-color: lemonchiffon;
    padding: 0 10px
}
h1,
h2,
h3,
h4 {
    line-height: 1.2
}

th, table {
  text-align: center;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   color: lemonchiffon;
   background:black;
   text-align: right;
}
