@import "bootstrap-sprockets";
@import "bootstrap";
@import url('//fonts.googleapis.com/css?family=Montserrat+Subrayada');

a {
  color: inherit;
}
body {
  background-color: lemonchiffon;
  color: #444;
  font-size: 18px;
  line-height: 1.6;
  }
footer {
  background: rgba(216,3,3,.9);
  border-top-color: white;
  border-top-style: solid;
  border-top-width: 1px;
  bottom:0px;
  color: white;
  font-size: 12px;
  height:30px;
  left:0px;
  padding-right: 15px;
  padding-top: 5px;
  position:fixed;
  text-align: right;
  width:100%;
  }
h1,
h2,
h3,
h4 {
  line-height: 1.2;
  text-align: center;
}
input[type=text]{
  color: black;
}
textarea{
  color: black;
  resize: none;
}

#map{
  height: 50vh;
  width: 50vh;
  border: 2px solid #D8030C;
}

.field-inquiry{
  height: 80px;
  margin: 10px 0 10px 0;
}
.flash-notice{
  color:red;
  margin-top: 60px;
  text-align: center;
}
.home-container{
  align-items: center;
  background-color: black;
  border-radius: 5px;
  color: white;
  display:flex;
  justify-content: center;
  margin:10px auto;
  overflow:hidden;
  padding:10px;
  width: 75%;
}
.home-details{
  width: 100%;
}
.home-header{
  width: 100%;
}
.home-image{
  text-align: center;
}
.home-left{
  float:center;
  width:30%;
}
.home-right{
  float:left;
  width:60%;
  text-align: center;
}
.home-right-right{
  float:left;
  width:10%;
}
.imgfit{
  width: 80vh;
}
.inquiry-form {
  background-color: black;
  border-radius: 15px;
  color: white;
  margin-bottom: 15px;
  padding: 15px;
}
.inquiry-left {
  float: left;
  margin-top: 4px;
  padding-bottom: 10px;
  text-align: right;
  width: 50%;
}
.inquiry-left-special {
  float: left;
  margin-top: -10px;
  padding-bottom: 10px;
  text-align: right;
  width: 50%;
}
.inquiry-right {
  color: black;
  float: right;
  padding-bottom: 10px;
  padding-left: 15px;
  width: 50%;
}
.jumbotron {
  background-color: black;
  border-radius: 16px;
  color: white;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  text-shadow: black 0.3em 0.3em 0.3em;
}
.gateway-container, .signup-container, .login-container {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.login-field{
  margin: .5em;
}
.gateway-container, .home-container, .home-show-container {
  margin-bottom: 2em;
}
.mapContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.middlebutton{
  float: center;
  padding: 15px;
  text-align: center;
}
.pills-rental-info {
  background-color: rgba(216,3,3,.9);
  padding: 3px 3px 3px 3px;
  border-radius: 5px;
  margin: 4px 4px 4px 4px;
  display: inline-flex;
}
.rental-index-bar {
  background-color: black;
  height: auto;
  width: 30%;
}
.rentalInfo {
  width: 100%;
  padding: 10px 20px 10px 20px;
  margin: 10px 0 10px 0;
  background-color: black;
  color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.publicRentalInfoText {
  width: 100%;
  float: right;
  text-align: center;
  padding-right: 15px;
}
.realtor-only{
  align-items: center;
  background-color: black;
  border-radius: 15px;
  color: white;
  display:flex;
  justify-content: center;
  margin:10px auto;
  overflow:hidden;
  padding:10px;
  width: 100%;
}
.realtor-only-center{
  float:left;
  width:70%;
  text-align: center;
  padding: 10px 10px 10px 10px;
}
.realtor-only-left{
  float:left;
  width:20%;
  text-align: center;

}
.realtor-only-right{
  float:right;
  width:10%;
}

.roundedrentalpicture {
  background-color: black;
  border-radius: 15px;
  color: white;
  float: center;
  margin:10px auto;
  overflow:hidden;
  padding:10px;
  position: relative;
  text-align: center;
  height: 100%;
  max-width: 100%;
}

/* NAV BAR BOOTSTRAP*/
.navbar-default {
    background: rgba(216,3,3,.9);
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: white;
    font-family: 'Montserrat Subrayada', sans-serif;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background: rgba(216,3,3,.9);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background: rgba(216,3,3,.9);
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: rgba(216,3,3,.9);
}
.navbar-default .navbar-toggle .icon-bar {
    background: white;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: black;
    }
    .home-right{
      width: 100%;
      order: 3;
    }
    .home-left{
      width: 100%;
      align-items: center;
      text-align: center;
      order: 1;
    }
    .home-right-right{
      display: none;
    }
    .home-container{
      display: block;
    }
    .imgfit{
      width: 50vh;
    }
    .publicRentalInfoMap {
      width: 100%;
    }
    .publicRentalInfoText {
      width: 100%;
      text-align: center;
      margin-bottom: 1em;
    }
    .rentalInfo {
      width: 100%;
      display: inline-block;
    }
    .field-inquiry{
      height: 80px;
      margin: 10px 0 10px 0;
      width: 100%;
      display: inline-block;
    }
    .inquiry-left {
      margin-top: 4px;
      padding-bottom: 10px;
      text-align: center;
      width: 100%;
    }
    .inquiry-left-special {
      margin: 10px;
      padding-bottom: 10px;
      text-align: center;
      width: 100%;
    }
    .inquiry-right {
      color: black;
      float: center;
      padding-bottom: 10px;
      padding-left: 15px;
      width: 100%;
      text-align: center;
    }
}
